{% load static %} 
    
    
    <!-- Overlay -->
    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <script src="{% static 'swiper/swiper.js' %}"></script>
    <script src="{% static 'scripts/app.js' %}"></script>
    <script src="{% static 'scripts/alert.js' %}"></script>
    <script src="{% static 'scripts/dashboard.js' %}"></script>
    <script src="{% static 'scripts/productDetails.js' %}"></script>
    <script type="module" src="{% static 'scripts/slider.js' %}"></script>
    <script src="{% static 'scripts/timer.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'scripts/custom.js' %}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>